<div ng-app="app">
  <div ng-controller="PostsController">
    <div ng-if="suggestions">
      <ul>
        <li ng-repeat="suggestion in suggestions track by $index" ng-bind="suggestion"></li>
      </ul>
    </div>
    <ul>
      <li ng-repeat="post in posts track by $index" ng-bind="post.title"></li>
    </ul>
  </div>
</div>
